@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('/styles/fonts.css'); /* 确保路径正确 */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.btn {
  @apply  mx-auto max-w-6xl px-4 sm:px-6;
}