/* styles/fonts.css */
@font-face {
    font-family: 'MyFont';
    src: url('/fonts/GeistMonoVF.woff') format('woff2'),
         url('/fonts/GeistVF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  